@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

html{
    scroll-behavior: smooth;
}

.repo-background {
    background-image: url("../public/assets/background.jpg");
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}